@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.doodle {
  text-decoration: none;
  list-style-type: none;
  position: absolute;
  width: 20%;
  top: 20%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-animation: rotateDoodle 30s linear infinite;
  animation: rotateDoodle 30s linear infinite;
}

.doodle::before {
  content: '';
  display: block;
  padding-top: 115%;
}

.doodle .doodleCir {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  border-radius: 50%;
  mix-blend-mode: multiply;
  opacity: .45;
  -webkit-animation: animatePetals 8s alternate ease-in-out infinite;
  animation: animatePetals 8s alternate ease-in-out infinite;
}

.doodle .doodleCir:nth-child(1) {
  background-color: #814432;
  -webkit-transform-origin: 75.0% 6.69873%;
  -ms-transform-origin: 75.0% 6.69873%;
  transform-origin: 75.0% 6.69873%;
}

.doodle .doodleCir:nth-child(2) {
  background-color: #114542;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.doodle .doodleCir:nth-child(3) {
  background-color: #e0d4ca;
  -webkit-transform-origin: 75.0% 93.30127%;
  -ms-transform-origin: 75.0% 93.30127%;
  transform-origin: 75.0% 93.30127%;
}

@-webkit-keyframes rotateDoodle {
  0% {
    -webkit-transform: translateY(-50%) rotateZ(0deg);
    transform: translateY(-50%) rotateZ(0deg);
  }

  100% {
    -webkit-transform: translateY(-50%) rotateZ(-360deg);
    transform: translateY(-50%) rotateZ(-360deg);
  }
}

@keyframes rotateDoodle {
  0% {
    -webkit-transform: translateY(-50%) rotateZ(0deg);
    transform: translateY(-50%) rotateZ(0deg);
  }

  100% {
    -webkit-transform: translateY(-50%) rotateZ(-360deg);
    transform: translateY(-50%) rotateZ(-360deg);
  }
}

@-webkit-keyframes animatePetals {
  0% {
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }

  100% {
    -webkit-transform: rotateZ(40deg);
    transform: rotateZ(40deg);
  }
}

@keyframes animatePetals {
  0% {
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }

  100% {
    -webkit-transform: rotateZ(40deg);
    transform: rotateZ(40deg);
  }
}


.loginMenu {
  height: 500px;
  position: relative;

}

.gridCenter {
  margin-top: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.listItem {
  /* padding: 10px 45px 10px 45px; */
  margin: 30px;
}

.listItem:hover {
  color: white;
}

.adminLogin {
  font-size: 25px;
  font-family: 'Raleway';
  color: #e0d4ca;
  background-color: #c27958;
  padding: 10px 35px 10px 35px;
  border-style: none;
  border-radius: 10px;

}

.clientLogin {
  font-size: 25px;
  font-family: 'Raleway';
  color: #e0d4ca;
  background-color: #114542;
  padding: 10px 35px 10px 35px;
  border-style: none;
  border-radius: 10px;
}

.signUp {
  font-size: 25px;
  font-family: 'Raleway';
  color: #e0d4ca;
  background-color: #114542;
  padding: 10px 35px 10px 35px;
  border-style: none;
  border-radius: 10px;
}

.signInPaper {
  width: 600px;
  height: 65vh;
  margin: 0 auto;
  /* background-color: #114542; */
  background-color: rgba(17, 69, 66);
}

.menuPane {
  height: 100vh;
  border-right: solid;
  border-style: groove;
}

.menuBar {
  color: #000;
}

/* #homepageBackground {
  background-color: aliceblue;
} */

.homepageMain {
  display: grid;
  /* border: solid; */
  max-width: 1200px;
  position: relative;
  margin: auto;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "mainAB mainAB mainAB mainAB"
    "adOne adTwo adThree adFour"
    "infoOne infoOne infoIO infoIO"
    "infoIT infoIT infoTwo infoTwo";
  grid-template-rows: 90px 800px 120px 500px 300px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav {
  grid-area: nav;
  max-width: 1200px;
  text-align: right;
}

.nav ul {
  list-style: none;
  margin-top: 5%;
}

.nav li {
  display: inline-block;
  padding-right: 25px;
}

.mainSection {
  grid-area: main;
  text-align: center;
  background-image: url(./images/what.png);
  background-size: cover;
  background-position: left 250px top;
  background-repeat: no-repeat;

}

#middle {
  display: flex;
  justify-content: left;
  align-items: left;
}

/* .mainSection h1 {
  text-align: left;
  vertical-align: middle;
} */

.mainAbout {
  grid-area: mainAB;
}

.adOne {
  grid-area: adOne;
}

.adTwo {
  grid-area: adTwo;
}

.adThree {
  grid-area: adThree;
}

.adFour {
  grid-area: adFour;
}

.infoOne {
  grid-area: infoOne;
}

.infoImageOne {
  grid-area: infoIO;
}

.infoTwo {
  grid-area: infoTwo;
}

.infoImageTwo {
  grid-area: infoIT;
}